 body{
        background: #0f172a;
        color: white;
        padding: 30px;
        text-align: center;
    }

    input{
        width: 250px;
        padding: 12px;
        border: 2px solid #38bdf8;
        border-radius: 8px;
        background: #0f172a;
        color: whitesmoke;
        font-size: 15px;
        transition: 0.3s;
    }

    input::placeholder{
        color: #cbd5e1;
    }

    h1{
        text-align: center;
        margin-bottom: 30px;
        color: #38bdf8;
    }

    .section{
        background: #1e293b;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 12px;
        border: 2px solid #334155;
    }

    h2{
        color: #facc15;
        margin-bottom: 15px;
    }

    button{
        padding: 10px 16px;
        margin: 10px;
        border: none;
        border-radius: 8px;
        background: #06b6d4;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover{
        background: #0891b2;
        transform: scale(1.05);
    }

    #ageInput,
    #numberInput,
    #marksInput,
    #firstnumber,
    #secondnumber,
    #valueInput{

    width: 240px;
    padding: 12px;
    margin: 8px 8px 8px 0;

    border: 2px solid #a855f7;
    border-radius: 10px;

    background: #172554;
    color: white;

    font-size: 15px;
    outline: none;

    transition: 0.3s;
    }

    #ageInput::placeholder,
    #numberInput::placeholder,
    #marksInput::placeholder,
    #firstnumber::placeholder,
    #secondnumber::placeholder,
    #valueInput::placeholder{

    color: #d8b4fe;

    }

    #ageInput:focus,
    #numberInput:focus,
    #marksInput:focus,
    #firstnumber:focus,
    #secondnumber:focus,
    #valueInput:focus{

    border-color: #22c55e;

    box-shadow: 0 0 12px #22c55e;

    }

    p{
        margin-top: 15px;
        line-height: 28px;
        font-size: 17px;
    }

    h3{
         margin-top: 15px;
    }


